NEXT_PUBLIC_APP_NAME=Digital Krishi Officer
NEXT_PUBLIC_API_URL=http://localhost:4000/api
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCFx6quBOqIO2fB0GwBILph5QhG6txVXbc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=dko-project-8a53b.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=dko-project-8a53b
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=dko-project-8a53b.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=403113916605
NEXT_PUBLIC_FIREBASE_APP_ID=1:403113916605:web:710220182215c8d30a9fd4
NEXT_PUBLIC_FIREBASE_VAPID_KEY=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
